@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 0px
}
body {
    background-color: lavender;
    display: grid;
    place-items: center
}
.card {
    background-color: #ffffff;
    border-radius: 50px;
    color: #6f707d;
    font-family: 'Marcellus', serif
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.temp-details>p>span,
.grey {
    color: #a3acc1;
    font-size: 12px
}

.fa {
    color: #a5a5b1
}

*:focus {
    outline: none
}

.container{
    max-width: 500px !important;
}